# Temporary files
*~

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Fortran module files
*.mod
*.smod

# Executables
*.exe
*.out
*.app

# Python binaries
*.pyc

# Data Files
*.dat
*.bin

# Figures
*.pdf
*.ps
*.png

# Python Executables
*.pyc
*.npz

# Backup Files
*~